/*p { color: red; font-weight: bold; }
#id { color: black; }
.clase { color: yellow; background: red; }*/

/*Hermano*/
/*3 */     /*#nico.uno { background: red; }*/
/*1 */    /*.clase.uno { background: grey; }*/
/*2*/   /* p.clase { color: green; }*/

/*Hijo*/
/*.contenido .clase { border: 1px solid red; }*/



/*////////////////*/
/*Selectores avanzados*/
/*////////////////*/

/*El próximo p que se encuentren inmediantamente luego de un div, que se encuentra en el mismo nivel es decir que no es un hijo.*/
/*div + p { color: blue; background: grey; }div + p { color: blue; background: grey; }*/

/*Todos los p que se encuentren inmediantamente luego de un div, que se encuentra en el mismo nivel es decir que no es un hijo.*/
/*div ~ p { color: green; background: grey; }*/

/*Todos los p que son hijos de div.*/
/*div > p { color:  #00FFE9; background: grey; }*/


/*[class*="clase"] { color: blue; font-weight: 600; }*/

/*p:hover { background: black; color: white;}*/

/*p:before { content: attr(pablo);  }*/

/*p:after { content: ''; display: block; width: 20px; height: 20px; background: rebeccapurple; }*/

hr { margin: 50px 0; }
a { line-height: 50px; }
