* { margin: 0; padding: 0; }

/*Convertir un p en elemento en línea*/
h1 { color: #dcdcdc; font-weight: bold; text-align: center; text-shadow: 1px 1px 1px #000000; font-size: 25px; text-decoration: underline; background: #7b7b7b; padding: 25px; margin-bottom: 50px; }


/*Convertir a los div en elementos en línea. Mostrar como eliminar el margin. Eliminar el </li> */
.base { width: 100px; height: 100px; background: black; }
.circulo { background: blue; }

/*Modificar a por line-height. Solo se puede utilizar con textos.  */
hr { margin: 1% 0; }
a { /*line-height: 50px;*/ }


.table { display: table; width: 100%; margin: 10% 0; }
.table > div { display: table-cell; padding: 20px; background: #bbbbbb; }



/*************************************    SECCIÓN  Hacer    *************************************

	* Mostrar diferencias entre elementos en línea y elementos en bloque.
	* Mostrar los cambios en los textos.
	* Mostrar los cambios en los ul
	* Mostrar que a los elementos en línea no les afecta el margin.
	* Mostrar line-height.


//***********************************************************************************