.tooltip {
    position: relative; display: inline-block;
    .tooltip-text { visibility: hidden; width: 120px; background-color: rgba(15, 89, 148, 0.7); color: #fff; 
        text-align: center; padding: 5px 0; border-radius: 6px; top: -5px; left: 100%; 
        position: absolute; z-index: 1; opacity: 0; transition: all .5s ease;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.38);
        &:after { content: ""; position: absolute; top: 50%; right: 100%; 
            margin-top: -5px; border-width: 5px; border-style: solid; 
            border-color: transparent rgba(15, 89, 148, 0.7) transparent transparent; 
        }
    }
    &:hover .tooltip-text {
        visibility: visible;
        z-index: 10;
        opacity: 1;
        transform: translate3d(7%, 0, 0);
        pointer-events: none;
        &:after { pointer-events: none; }
    }
}