* { margin: 0; padding: 0; box-sizing: border-box; }

/* 
  SELECTOR: la etiqueta body
  PROPS: Que el color de la fuente sea #555558 y el fondo sea bg.jpg.
*/
body { color:#555558; background: url(bg.jpg); }


/* 
  SELECTOR: Quitar estilo a las listas.
  PROPS: Sin estilos de en los elementos.
*/
ul li { list-style: none; }


/* 
  SELECTOR: las etiquetas img, label, a
*/
img, label, a { display: inline-block; }


/* SELECTOR: Todos los inputs de tipo "text" */
/* PROPS: Sin bordes, color de fondo #efefef, padding 10px 15px, borde inferior de 2px color #b1b1b1,
    100% de ancho y espaciado superior de 10px.
*/
input[type="text"] {
  border: none;
  background-color: #efefef;
  padding: 10px 15px;
  border-bottom: 2px solid #b1b1b1;
  width: 100%;
  margin-top: 10px;
}


/* 
  SELECTOR: la clase "btn".
  PROPS:  Espacio interno del elemento 10px 20px; Bordes redondeados 3px, sin decoración en texto, tamaño de la fuente 14, 
  color de la fuente blanco, color de fondo #305990, 
*/
.btn {
  padding: 10px 20px;
  background-color: #305990;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}


/* 
  SELECTOR: todas las imágenes 
  PROPS: ancho 90%, margen superior de 50px centrado y abajo 0, 
*/
img { 
  width: 90%;
  margin: 50px auto 0;
  transition: transform .3s ease;
  display: block; 
}


/* 
  SELECTOR:  la etiqueta main
  PROPS: Ancho máximo de 400px, margen centrado, fondo blanco.
*/
main {     
  max-width: 400px;
  margin: 0 auto;
  background: white;
}


/* 
  SELECTOR: todos los h1
  PROPS: texto justificado, alto de línea 33px, color de la fuente #444b88.
*/
h1 {
  text-align: justify;
  line-height: 33px;
  color: #444b88;
}


/* 
  SELECTOR: la etiqueta section con la clase card.
  PROPS: Separación interna de 15px, sombra de 0 0 10px -3px, separación entre los demás elementos es de 20px.
*/
section.card {
  padding: 15px;
  box-shadow: 0 0 10px -3px;
  margin: 20px 0;
}


/* 
  SELECTOR: La etiqueta section con hijo h3, La etiqueta div con hijo h3.
  PROPS: Texto centrado  con márgenes 50px 0 20px
*/
section h3, div h3 {
  text-align: center;
  margin: 50px 0 20px;
}


/* 
  SELECTOR: La etiqueta section con clase card que contiene una lista ul con la clase list con hijos directos li.
  PROPS: Alto de línea 25px;
*/
section.card ul.list > li {
  line-height: 25px;
}


/* 
  SELECTOR: La etiqueta section con clase card que contiene una lista ul con la clase list con hijos directos li tiene un before.
  PROPS: Alto y ancho de 4px, color rojo y margen derecho 10px.
*/
section.card ul.list > li:before { content: ''; display: inline-block; height: 4px; width: 4px; background: red; margin-right: 10px;  }


/* 
  SELECTOR: id text
  PROPS:  alto de línea 32px. Texto justificado.
*/
#text {     
  line-height: 32px;
  text-align: justify;
}


/* 
  SELECTOR: Seleccionar todos los strong con un padre que tenga id "text".
  PROPS: Colocar en mayúsculas, color blanco y fondo negro.
*/
#text strong {     
  text-transform: uppercase;
  color: white;
  background: black; 
}


/* 
  SELECTOR: Al pasar sobre la imagen escalar la imagen a 1.1
  PROPS: 
*/
img:hover { transform: scale3d(1.1, 1.1, 1.1); }


/* 
  SELECTOR: Seleccionar a todos los li hijos directos de ul que a la vez son hijos de un div con clase "buy".
  PROPS: Posee un ancho de 1/3 y el texto centrado. 
*/
div.buy ul >li { display: inline-block; width: calc((100% / 3) - 4px * 3); text-align: center; }


/* 
  SELECTOR: Al pasar el cursor sobre todos los "a" que son hijos de un li que es hijo directo de un ul que es hijo  de un div con clase "buy".
  PROPS: Color de fondo.
*/
div.buy ul >li a:hover {
  background-color: #134485
}