* { margin: 0; padding: 0; }

h1 { color: #D8D8D8; font-weight: bold; text-align: center; 
	text-shadow: 1px 1px 1px #505050; font-size: 25px; 
	text-decoration: underline; background: #676767; padding: 25px;
}

.container { 
	width: 500px; background: rgba(0, 0, 0, 0.2); 
	margin: 0 auto;
}



.base { width: 100px; height: 100px; }
.one { background: rgba(255, 0, 0, 0.52) }
.two { background: rgba(0, 255, 0, 0.52) }
.three { background: rgba(0, 0, 255, 0.52) }

/* .container:after { content: ''; display: block; clear: both; } */

/*.inside { width: 100px; height: 100px; background: black;}*/

.base-f { width: 100px; height: 100px; margin: 5px; }

hr { margin: 50px 0; }
a { line-height: 50px; }


/*************************************    SECCIÓN  TEMAS    *************************************
	* Mostrar relative
	* z-index
	* Mostrar Absolute
	* Diferencias
	* Fixed
	* Float
	* Mostrar Clear
//************************************************************************************-