$bgColorH1: #717171;
$maxWidth: 90%;
$newClass: "container";
$paddingWrapper: 20px;

* { margin: 0; padding: 0; }

html, body { height: 100%; }

body {
	height: 100%;
	main { max-width: $maxWidth; margin: 0 auto; height: calc(100% - 200px) }

	h1 { color: white; text-align: center; font-size: 25px; background: $bgColorH1; padding: 25px;}

	.#{$newClass} {
		margin: 30px $paddingWrapper * 6;
		p { 
			padding: 20px;
			&.important { font-size: 20px; }
		}
		&.second { 
			background: #e0e7ec;
		}
		&.action {
			transition: box-shadow .3s ease; cursor: pointer;
			&:hover { box-shadow: 0 0 5px 0 black; }
		}
	}

	a { margin-top: 44px; display: block; }
}

//*************************************    SECCIÓN  Explicar    *************************************

	// * Cada tipo de variable
	// * Concatenar string. 
	// * Operaciones

//************************************************************************************