$themes: (
  theme1: theme-1,
  theme2: theme-2
);

$config: (
    theme1: (
        body: (
            background-image: url('https://get.pxhere.com/photo/laptop-notebook-computer-writing-work-coffee-white-pen-office-blue-mobile-phone-home-office-coffee-mug-design-glasses-shape-organization-in-the-workplace-1087858.jpg')
        ),
        header: (
            background: #f2f2f2,
            color: #000
        ),
        footer: (
            background: #f2f2f2,
            color: #000
        )
    ),
    theme2: (
        header: (
            background: #453d6d,
            color: rgb(224, 224, 224)
        ),
        container-main-aside: (
            background: rgba(199, 204, 239, 0.81)
        ),
        footer: (
            background: #453d6d,
            color: rgb(224, 224, 224)
        )
    )
);