@import "core/core";
@import "templates/templates";



$themes: (
  theme1: theme-1,
  theme2: theme-2
);

$config: (
  theme1: (
    background: #f2f2f2,
    color: #000
  ),
  theme2: (
    background: #666,
    color: #fff
  )
);


// _functions.scss
@function setStyle($map, $object, $style) {
	@if map-has-key($map, $object) {
	    @return map-get(map-get($map, $object), $style);
	}
	@warn "The key ´#{$object} is not available in the map.";
	@return null;
}

@mixin setTheme($element){
    @each $key, $value in $themes {
        @if map-has-key($config, $key) {
            .#{$value} & {
                background: setStyle($config, $key, background);
                color: setStyle($config, $key, color);
            }
        } @else {
            @warn "The key ´#{$key} isn’t defined in the map $config´"
        }
    }
}

header {
    @include setTheme('header');
}