header { 
    background: $dark; align-self: start; color: $white;

    >div.wrapper { display: flex; align-items: center;  }
    h1, nav { flex: 1 1 50%; }
    nav ul { 
        display: flex;
        li { 
            flex: 1 1 auto; transition: box-shadow .3s ease;
            &:hover { box-shadow: 0 -5px 0 0 $white inset; }
            a { display: block; text-align: center; line-height: 70px; color: inherit; }
        }
    }
}