* { text-decoration: none; margin: 0; padding: 0;  
	box-sizing: border-box; list-style: none;
}

html, body { height: 100%; width: 100%; }

a, .button, button { cursor: pointer; }

$color-blue: #03A9F4;	

body { font-size: 16px; }

a { color: #EAEAEA; text-transform: uppercase; font-size: 0.8em; font-family: sans-serif; }

h1 { 
	text-align: center; font-size: 1.3em; background: rgb(34, 115, 202);
    color: white; padding: 25px 0; margin: 30px 0;
    box-shadow: 0 -5px rgba(62, 62, 62, 0.61) inset;
    &:first-of-type { margin-top: 0; }
}

.button { width: 45%; margin: 0; }

.no-scroll { overflow: hidden; }

.bt-menu { display: none; }

.bg-page { 
	background: rgba(0,0,0,0.7); width: 100%; height: 100%; position: fixed; opacity: 0;
	z-index: -10;  visibility: hidden;
	transition: all .3s ease;
	&.visible { opacity: 1; z-index: 10;  visibility: visible; }
}

.main-nav {
	    background: #001E65; width: 100%; line-height: 4; margin-bottom: 2px;
	    color: gainsboro;
	    ul { overflow: auto; }
	li {
		display: inline-block; color: #929292; padding: 0 30px; cursor: pointer;
		transition: all .5s ease;
		&:last-of-type { 
			float: right; background: #2273CA;
			&:hover { background: $color-blue; }
		}
		box-shadow: 0 -5px #49A1FF inset;
		&:hover {
			background: #2F55AF;
			box-shadow: 0 -5px #CA229E inset;
		}		
	}
}

.wrapper { width: 80%; margin: 0 auto; position: relative; }

.section-content { 
	padding: 4% 5%;
	box-shadow: 0 0 10px #717171;
    margin-top: -2px;
    .section-products { 
    	display: flex; flex-wrap: wrap; justify-content: space-around;
    }

}


.menu-mobile {
	height: 200%; position: fixed; z-index: 10; width: 70%; background: rgb(24, 24, 26);
	transition: all .4s ease;
	@include opacity(1);
	&.hidden { 
		@include translate3d(-100%, 0, 0);
		@include opacity(0);
	}
}

.bt-menu { 
	width: 25px; cursor: pointer; z-index: 101; position: absolute; top: 10px; left: 10px;
	transition: all .3s ease;
	div	{
		transition: all .3s ease;
		height: 2px; background: $color-blue; margin-bottom: 5px;
		&:last-child { margin: 0; }
	}
	&.active { 
		transform: rotate3d(0, 0, 1, 180deg);
		div {
			background: $color-blue;
			&:nth-child(1){ transform: rotate3d(0, 0, 1, 31deg) translate3d(0, 3px, 0); margin-left: 10px; width: 18px; }
			&:nth-child(3){ transform: rotate3d(0, 0, 1, -31deg) translate3d(0, -3px, 0); margin-left: 10px; width: 18px; }
		}
	}
}

.nav-bar-menu { 
	list-style-type:none; position: absolute; width: 100%; text-align: center; text-transform: uppercase;
	margin-top: 20%;
	li { 
		a {
			display:block; color:#EAEAEA; padding: 15px 20px; position:relative; box-shadow: 0px -10px 7px -7px rgba(253, 202, 46, 0) inset;
		    transition: all .3s ease-in .1s;
		    &:before {
		    	transition: all .3s ease-in;
		    	content:""; display:block; position:absolute; left:50%; bottom:0; 
			    height:2px; width:0; background: $color-blue;
		    }

		    &:hover {
		    	color: $color-blue; box-shadow: 0px -10px 7px -7px #00BCD4  inset;
			    &:before {
				   	width:100%; left:0; color: $color-blue
				}
			}

			&.active {
		    	color: $color-blue; font-weight: 600; box-shadow: 0px -10px 7px -7px #00BCD4 inset;
			    &:before {
				   	width:100%; left:0; color: $color-blue
				}
			} 
		}
	}
}

footer { height: 150px; background: rgb(34, 115, 202); margin-top: 30px; }

#modalLogin {
	position: fixed;
	display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0; 
	visibility: hidden;
	transition: all .6s ease;
	&:target { opacity: 1; visibility: visible; }
	.content { 
		width: 80%; height: 80%; display: flex;
    	justify-content: center; align-items: center; height: 80%;
    	background: #607D8B; border: 10px solid rgba(255, 255, 255, 0.42);
    border-radius: 10px;
    form {
    	width: 50%;
    	h2 { color: #E4E4E4; border-bottom: 1px solid #D0D0D0; margin-bottom: 20px;
    padding-bottom: 10px; }
    	.input { width: 100%; line-height: 2; padding: 10px; 
			margin-bottom: 20px; border: 0;
    	}
    	.button { 
    		padding: 10px; width: 45%;
    		&.submit { border: 0; background: #03A9F4; color: white;
    			text-transform: uppercase;
    			font-size: 0.8em;
    			&:hover { background: #2FBBFB; }
    		}
    	}
    	a { float: right; text-align: right; width: auto; padding: 14px 0; }
    }
	}
}