main { flex: 1 1 auto; padding: 0 50px; padding-top: 30px; }
main section { margin-top: 30px; }
main section:last-child { margin-bottom: 50px; }
main section h2 { margin-bottom: 15px; }
main section p { line-height: 30px; }