/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/_base.scss */
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}

/* line 5, ../sass/_base.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 7, ../sass/_base.scss */
a, .button, button {
  cursor: pointer;
}

/* line 11, ../sass/_base.scss */
body {
  font-size: 16px;
}

/* line 13, ../sass/_base.scss */
a {
  color: #EAEAEA;
  text-transform: uppercase;
  font-size: 0.8em;
  font-family: sans-serif;
}

/* line 15, ../sass/_base.scss */
h1 {
  text-align: center;
  font-size: 1.3em;
  background: #2273ca;
  color: white;
  padding: 25px 0;
  margin: 30px 0;
  -moz-box-shadow: 0 -5px rgba(62, 62, 62, 0.61) inset;
  -webkit-box-shadow: 0 -5px rgba(62, 62, 62, 0.61) inset;
  box-shadow: 0 -5px rgba(62, 62, 62, 0.61) inset;
}
/* line 19, ../sass/_base.scss */
h1:first-of-type {
  margin-top: 0;
}

/* line 22, ../sass/_base.scss */
.button {
  width: 45%;
  margin: 0;
}

/* line 24, ../sass/_base.scss */
.no-scroll {
  overflow: hidden;
}

/* line 26, ../sass/_base.scss */
.bt-menu {
  display: none;
}

/* line 28, ../sass/_base.scss */
.bg-page {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0;
  z-index: -10;
  visibility: hidden;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 32, ../sass/_base.scss */
.bg-page.visible {
  opacity: 1;
  z-index: 10;
  visibility: visible;
}

/* line 35, ../sass/_base.scss */
.main-nav {
  background: #001E65;
  width: 100%;
  line-height: 4;
  margin-bottom: 2px;
  color: gainsboro;
}
/* line 38, ../sass/_base.scss */
.main-nav ul {
  overflow: auto;
}
/* line 39, ../sass/_base.scss */
.main-nav li {
  display: inline-block;
  color: #929292;
  padding: 0 30px;
  cursor: pointer;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -moz-box-shadow: 0 -5px #49A1FF inset;
  -webkit-box-shadow: 0 -5px #49A1FF inset;
  box-shadow: 0 -5px #49A1FF inset;
}
/* line 42, ../sass/_base.scss */
.main-nav li:last-of-type {
  float: right;
  background: #2273CA;
}
/* line 44, ../sass/_base.scss */
.main-nav li:last-of-type:hover {
  background: #03A9F4;
}
/* line 47, ../sass/_base.scss */
.main-nav li:hover {
  background: #2F55AF;
  -moz-box-shadow: 0 -5px #CA229E inset;
  -webkit-box-shadow: 0 -5px #CA229E inset;
  box-shadow: 0 -5px #CA229E inset;
}

/* line 54, ../sass/_base.scss */
.wrapper {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

/* line 56, ../sass/_base.scss */
.section-content {
  padding: 4% 5%;
  -moz-box-shadow: 0 0 10px #717171;
  -webkit-box-shadow: 0 0 10px #717171;
  box-shadow: 0 0 10px #717171;
  margin-top: -2px;
}
/* line 60, ../sass/_base.scss */
.section-content .section-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* line 67, ../sass/_base.scss */
.menu-mobile {
  height: 200%;
  position: fixed;
  z-index: 10;
  width: 70%;
  background: #18181a;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 71, ../sass/_base.scss */
.menu-mobile.hidden {
  -moz-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 77, ../sass/_base.scss */
.bt-menu {
  width: 25px;
  cursor: pointer;
  z-index: 101;
  position: absolute;
  top: 10px;
  left: 10px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 80, ../sass/_base.scss */
.bt-menu div {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 2px;
  background: #03A9F4;
  margin-bottom: 5px;
}
/* line 83, ../sass/_base.scss */
.bt-menu div:last-child {
  margin: 0;
}
/* line 85, ../sass/_base.scss */
.bt-menu.active {
  -moz-transform: rotate3d(0, 0, 1, 180deg);
  -webkit-transform: rotate3d(0, 0, 1, 180deg);
  transform: rotate3d(0, 0, 1, 180deg);
}
/* line 87, ../sass/_base.scss */
.bt-menu.active div {
  background: #03A9F4;
}
/* line 89, ../sass/_base.scss */
.bt-menu.active div:nth-child(1) {
  -moz-transform: rotate3d(0, 0, 1, 31deg) translate3d(0, 3px, 0);
  -webkit-transform: rotate3d(0, 0, 1, 31deg) translate3d(0, 3px, 0);
  transform: rotate3d(0, 0, 1, 31deg) translate3d(0, 3px, 0);
  margin-left: 10px;
  width: 18px;
}
/* line 90, ../sass/_base.scss */
.bt-menu.active div:nth-child(3) {
  -moz-transform: rotate3d(0, 0, 1, -31deg) translate3d(0, -3px, 0);
  -webkit-transform: rotate3d(0, 0, 1, -31deg) translate3d(0, -3px, 0);
  transform: rotate3d(0, 0, 1, -31deg) translate3d(0, -3px, 0);
  margin-left: 10px;
  width: 18px;
}

/* line 95, ../sass/_base.scss */
.nav-bar-menu {
  list-style-type: none;
  position: absolute;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20%;
}
/* line 99, ../sass/_base.scss */
.nav-bar-menu li a {
  display: block;
  color: #EAEAEA;
  padding: 15px 20px;
  position: relative;
  box-shadow: 0px -10px 7px -7px rgba(253, 202, 46, 0) inset;
  -moz-transition: all 0.3s ease-in 0.1s;
  -o-transition: all 0.3s ease-in 0.1s;
  -webkit-transition: all 0.3s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: all 0.3s ease-in 0.1s;
}
/* line 102, ../sass/_base.scss */
.nav-bar-menu li a:before {
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #03A9F4;
}
/* line 108, ../sass/_base.scss */
.nav-bar-menu li a:hover {
  color: #03A9F4;
  box-shadow: 0px -10px 7px -7px #00BCD4  inset;
}
/* line 110, ../sass/_base.scss */
.nav-bar-menu li a:hover:before {
  width: 100%;
  left: 0;
  color: #03A9F4;
}
/* line 115, ../sass/_base.scss */
.nav-bar-menu li a.active {
  color: #03A9F4;
  font-weight: 600;
  box-shadow: 0px -10px 7px -7px #00BCD4 inset;
}
/* line 117, ../sass/_base.scss */
.nav-bar-menu li a.active:before {
  width: 100%;
  left: 0;
  color: #03A9F4;
}

/* line 125, ../sass/_base.scss */
footer {
  height: 150px;
  background: #2273ca;
  margin-top: 30px;
}

/* line 127, ../sass/_base.scss */
#modalLogin {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
/* line 143, ../sass/_base.scss */
#modalLogin:target {
  opacity: 1;
  visibility: visible;
}
/* line 144, ../sass/_base.scss */
#modalLogin .content {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  background: #607D8B;
  border: 10px solid rgba(255, 255, 255, 0.42);
  border-radius: 10px;
}
/* line 149, ../sass/_base.scss */
#modalLogin .content form {
  width: 50%;
}
/* line 151, ../sass/_base.scss */
#modalLogin .content form h2 {
  color: #E4E4E4;
  border-bottom: 1px solid #D0D0D0;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
/* line 153, ../sass/_base.scss */
#modalLogin .content form .input {
  width: 100%;
  line-height: 2;
  padding: 10px;
  margin-bottom: 20px;
  border: 0;
}
/* line 156, ../sass/_base.scss */
#modalLogin .content form .button {
  padding: 10px;
  width: 45%;
}
/* line 158, ../sass/_base.scss */
#modalLogin .content form .button.submit {
  border: 0;
  background: #03A9F4;
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
}
/* line 161, ../sass/_base.scss */
#modalLogin .content form .button.submit:hover {
  background: #2FBBFB;
}
/* line 164, ../sass/_base.scss */
#modalLogin .content form a {
  float: right;
  text-align: right;
  width: auto;
  padding: 14px 0;
}

@media (max-width: 1024px) {
  /* line 11, ../sass/_mediaqueries.scss */
  .section-content {
    padding: 3% 3%;
  }
}
@media (max-width: 768px) {
  /* line 17, ../sass/_mediaqueries.scss */
  body {
    font-size: 13px;
  }
  /* line 21, ../sass/_mediaqueries.scss */
  body .bt-menu {
    display: block;
  }
  /* line 23, ../sass/_mediaqueries.scss */
  body.wrapper {
    width: 100%;
  }
  /* line 25, ../sass/_mediaqueries.scss */
  body .main-nav li {
    line-height: 3;
  }
  /* line 27, ../sass/_mediaqueries.scss */
  body .options {
    display: none;
  }
  /* line 29, ../sass/_mediaqueries.scss */
  body #modalLogin .content, body #modalLogin .content form {
    width: 95%;
  }
}
/* line 17, ../sass/screen.scss */
.mask {
  height: 250px;
  width: 285px;
  background: black;
  border-radius: 5px;
  border: 1px solid #AFAFAF;
  position: relative;
  overflow: hidden;
  margin: 1%;
}
/* line 20, ../sass/screen.scss */
.mask .img {
  width: 100%;
  height: 100%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 24, ../sass/screen.scss */
.mask .box {
  line-height: 6;
  text-align: center;
  position: absolute;
  width: 100%;
  font-size: 0.8em;
  color: #FDFDFD;
  font-weight: bolder;
  text-shadow: 2px 2px 1px black;
  text-transform: uppercase;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.1) 100%);
}
/* line 30, ../sass/screen.scss */
.mask .box.bottom {
  bottom: 0;
  -moz-transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.1) 100%);
}
/* line 35, ../sass/screen.scss */
.mask .box.top {
  top: 0;
  -moz-transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
/* line 41, ../sass/screen.scss */
.mask:hover {
  cursor: pointer;
}
/* line 43, ../sass/screen.scss */
.mask:hover .img {
  -moz-transform: scale3d(1.1, 1.1, 1.1);
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
  -webkit-filter: blur(2px) grayscale(40%);
  filter: blur(2px) grayscale(40%);
}
/* line 48, ../sass/screen.scss */
.mask:hover .box {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
