
@keyframes showTop {
	0% {
		transform3d: translate3d(0, -80%, 0);
		opacity: 0;
	} 100% {
		transform3d: translate3d(0, 0, 0);
		opacity: 1;
	}
}


@keyframes showBottom {
	0% {
		transform3d: translate3d(0, 100%, 0);
		opacity: 0;
	} 60% {
		transform3d: translate3d(0, 20%, 0);
	} 80% {
		transform3d: translate3d(0, 40%, 0);
	}
	100% {
		transform3d: translate3d(0, 0, 0);
		opacity: 1;
	}
}