footer { background-color: $dark; color: $white; display: flex; align-items: center; padding: 50px 0; align-self: flex-end; }
footer >div ul { display: flex; flex-flow: row wrap; justify-content: space-between; }

footer >div ul li { flex: 0 1 20%; }
footer >div ul li p { line-height: 30px; text-align: justify; }