aside { 
    flex: 1 0 200px; background-color: $bg-aside; color: $font-aside;
    article { 
        padding: 15px;
        p { line-height: 30px; }
        &.ads {     height: 143px;
            background: url(https://storage.googleapis.com/support-kms-prod/2xEzW6SOUYKuD5W9N4XxBUvtXu9RhJKsdMJ6);
            background-size: cover; }
    }
}